h1 {
  text-align: left;
  color: rgb(76, 168, 175);
  font-size: 36;
  font-family:'Cambria, Cochin, Georgia'; 
  font-stretch: expanded;
  font:bold;
}
.navbar-brand {
  background: rgb(62, 204, 214);
  padding:15px;
  color:white;
  font-size: 32;
  font-family:'Calibri';
  font-stretch: expanded;
  font:bold;
}
h2 
{
  color: rgb(76, 168, 175);
  font-size: 36;
  font-family:'Cambria, Cochin, Georgia'; 
  font-stretch: expanded;
  font:bold;
}
h3{
  color: rgb(76, 168, 175);
  text-align: center;
  font-family:'Cambria, Cochin, Georgia';
  font-stretch: expanded;
  font:bold;
}
section {
  background-color: white;
}
p {
  font-size: 18px;
  color: gray;
}
