h1 {
  text-align: left;
  background-color: white;
  color: rgb(76, 168, 175);
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: grey;
    font-family: Arial;
  }
  .right{
    float:right;
  }
  /* Links inside the navbar */
  .navbar a {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(76, 168, 175);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
h2 {
  color: rgb(76, 168, 175);
}

h3 {
  color: orange;
}

img {
    width:400px;
    height:600px;
    box-shadow: 10px 10px 5px black;
}

section {
  background-color: white;
}

p {
  font-size: 18px;
  color: gray;
  text-align: left
}

ul {
  border-style: solid;
  color: gray;
}
